<header>
    <div class="wrapper">
        <a href="/" class="logo">
            <img src="/static/protest.png">
            <span>โพดโพ</span>
        </a>
        <a href="/post/new" class="btn">สร้างโพสต์ใหม่</a>
    </div>
</header>