<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle='สร้างโพสต์สำเร็จ | '}}
<body>
    {{> siteHeader}}
    <div class="wrapper-done">
        <h2>สร้างโพสต์สำเร็จ</h2>
        <p>โพสต์จะปรากฏที่หน้าแรก คุณสามารถกลับไปเปิดดู และร่วมโพดโพกับทุกคนได้</p>
        <a href="/">กลับหน้าแรก</a>
    </div>
    {{> siteFooter}}
</body>
</html>